@import "colors";
@mixin hov{
    &:hover {
            background: $grey;
            transition: all ease 0.5s;
            color:white;
        }
    }
@mixin shape{
    background: $dark;
        color:$light;
        box-sizing: border-box;
        width:100%;
        border: 1.5px solid $dgrey;
        margin-bottom: 10px;
        margin-top: 5px;
        padding: 7px 10px;
        border-radius: 0.5rex;
}
@mixin flcent{
    display:flex;
    justify-content: center;
    align-items: center;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background:rgb(58, 57, 57);
    font-family: sans-serif;
}

.full{
    margin-top:40px;
    @include flcent;
    flex-direction: column;
    
}
.top{
    color:white;
    font-size:13px;
    text-align: center;
    // margin-top:50px;
    padding:10px;
}
.new{
    border-radius: 8px;
    background: $dark;
    width:350px;
    padding:40px 20px;
    box-sizing: border-box;
}
.form1{
    .line{
        hr{
            margin:0;
            width:98px;
            height:1px;
            border: none;  
            background:$dgrey;
        }
        #mid{
            padding:0px 6px;
            font-size: 14px;
        }
        color:$grey;
        @include flcent;
        margin-bottom: 17px;
        margin-top: 10px;
    }
    h1{
        text-align: center;
        color: white;
        font-size: 20px;
        margin-top: -20px;
    }
    #t1{
        text-align: center;
        color:$grey;
        font-size: 12px;
        margin:12px;
    }
    #t2{
        color:$light;
        font-size: 13px;
    }
    #t3{
        font-size: 13px;
    }
    #t4{
        font-size: 11px;
    }
    #ee{
        margin-bottom:22px;
    }
    #image{
        width:5%;
    }
    .writeabt{
        margin-left:5px;
    }
    button{
        @include shape;
        cursor: pointer;
        @include hov;
        @include flcent;
    }
    input{
        @include shape;
        &:focus{
            background: #000;
            border: 2px solid red;
            color:black;
            
        }
    }
    .pass{
        color:$light;
        display:flex;
        justify-content: space-between;
    }
    #last{
        text-align: center;
        color:$light;
        font-size: 13px;
        margin-bottom: -20px;
    }
    a{
        padding:0 4px;
        color:$light;
    }
    #but{
        color:$dark;
        background: white;
        @include hov;
        margin-top:10px;
        margin-bottom:15px;
        cursor: pointer;
    }
    }
    .end{
        font-size: 12px;
        padding:20px;
        color:$grey;
        text-align: center;
        a{
            color:$grey;
        }

    }